header{
    background-image: url(images/book.jpg);
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    background-position: center;

}

h1{
    color: white;
    font-size: 3rem;
    padding-top: 5%;
    padding-left: 6%;
}

h2{
    color: white;
    font-size: 2rem;
    padding-left: 6%;
}

main{
    padding-left: 6%;
    max-width: 1200px;
}

h3{
    color: green;
    font-size: 2rem;
}

h4{
    color: blue;
    font-size: 1.8rem;
}

li{
    list-style-type: square;
    font-size: 1rem;
    color: #333;
}

.enterText{
    display: flex;
    justify-content: space-between;
   padding-right: 9%;
}

textarea{
    font-size:1rem;
    height: 150px;
    width: 150%;
}

button{
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: .8rem;
    padding: 1%;
    width: 300px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.bottom{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    

}

#storyHere{
    width: 90%;
}

footer{
    background-color: #333;
}

p{
    font-size: .9rem;
    color: white;
    text-align: center;
    padding: 1%;
}